<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER CRUD NODEJS</title>
    <link rel="stylesheet" href="./public/css/style.css">
    
</head>
<body>
    <div class="contenedor">
        
        <form class="form">
            <label for="name">Name</label>
            <input type="text" placeholder="Name" id="name">
            <input type="hidden" id="id">
            <label for="age">Age</label>
            <input type="number" placeholder="Age" id="age">

            <label for="country">Country</label>
            <input type="text" placeholder="Country" id="country">

            <button id="btnCrear" style="display:block" onclick="submitForm()" type="button">Crear</button>
            <button id="btnEditar" style="display:none" onclick="editForm()" type="button">Editar</button>
        </form>
        
        <div class="listado" id="listado"></div>
    </div>
    <script src="./public/js/scripts.js"></script>
</body>
</html>